:root{

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67);
}
@font-face{
    font-family: popins;
    src: url(https://fonts.google.com/specimen/Poppins);
}
*{
    font-family: popins;
}


body{
    background-color:var(--Smokey-grey);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    background-color: white;
    width: 420px;
    max-width: 80%;
    box-shadow: 0 0 2px rgb(36, 30, 30);
    border-bottom-right-radius: 150px;
    padding: 30px;
    position: relative;
}
.form_container{ 
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 2px solid var(--Off-white);

}
  .date_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input{
    padding: 10px 0;
    width: 100px;
    margin: 20px;
    outline: none;
  }
  input:focus{
   border: 2px solid var(--Purple);
  }

  small{
 
    color: red;
   
    
  }
  #agebtn{
    position: absolute;
    background-color:var(--Purple);
    height: 50px;
    width: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    right: 20px;
    top: 120px;
  }
  .output_container span{
    color: var(--Purple);
    font-size: 3.5rem;
    font-weight: 200;
    font-style: italic;

  }


  @media screen and (max-width: 768px) {
  
    input {
      width: 80%;
    }
    #agebtn {
        width: 40px;
        height: 40px;
      right: 50%;
      top: 110px;
    }
    .output_container span {
      font-size: 1.5rem;
    }

  }
  